@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* // font-family: "Montserrat", sans-serif; */

.description_text {
    position: absolute;
    top: 178px;
    left: 3.13%;
    width: 312px;
    height: 98px;

    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}


@media screen and (max-width: 550px) {
    .description_text {
        left: 7%;
        top: 108px;
    }
}
@media screen and (min-width: 550px) and (max-width: 768px) {
    .description_text {
        left: 2.73%;
        top: 160px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

}
@media screen and (min-width: 1024px) and (max-width: 1300px) {

}
@media screen and (min-width: 1300px) and (max-width: 1600px) {

}
@media screen and (min-width: 1600px) and (max-width: 1920px) {

}
@media screen and (min-width: 1920px) {

}
