@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

.phone_number {
    position: absolute;

    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.email {
    position: absolute;

    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}



@media screen and (max-width: 550px) {
    .phone_number {
        display: none;
    }
    .email {
        display: none;
    }
}
@media screen and (min-width: 550px) and (max-width: 767px) {
    .phone_number {
        text-align: right;

        top: 160px;
        right: 2.6%;
    }
    .email {
        text-align: right;

        top: 197px;
        right: 2.6%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .phone_number {
        top: 523px;
        left: 2.05%;
    }
    .email {
        top: 560px;
        left: 2.05%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1299px) {
    .phone_number {
        top: 523px;
        left: 2.05%;
    }
    .email {
        top: 560px;
        left: 2.05%;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1599px) {
    .phone_number {
        top: 523px;
        left: 3.13%;
    }
    .email {
        top: 560px;
        left: 3.13%;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
    .phone_number {
        top: 523px;
        left: 3.13%;
    }
    .email {
        top: 560px;
        left: 3.13%;
    }
}
@media screen and (min-width: 1920px) {
    .phone_number {
        top: 523px;
        left: 3.13%;
    }
    .email {
        top: 560px;
        left: 3.13%;
    }
}