@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

button {
    visibility: hidden;
}
.jackdaw_button svg{
    width: 13px;
    height: 10px;

    transition: transform 0.4s ease-in-out;
}
.jackdaw_button:hover svg{
    transform: rotate(-180deg);
}
.nav_text {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 15px;

    text-align: left;
}
.menubar {
    position: relative;
    width: 93.75%;
    height: 23.81%;

    display: flex;
    align-items: center;
}
.navbar {
    position: relative;
    width: 100%;
    height: 126px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.promotion_fire {
    position: absolute;

    bottom: 1.7px;
}
.hot_chicken {
    position: absolute;

    bottom: 0px;
}
.cold_ice {
    position: absolute;

    bottom: -2px;
}
.food-list {
    position: absolute;

    display: flex;
    justify-content: space-between;

    width: 44.13%;
    height: 60%;
    
    left: 25.33%;
}
.logo_link {
    position: absolute;
    left: 0%;
}
.search_button {
    position: absolute;
    left: 88.93%;
}
.profile_button {
    position: absolute;
    left: 93.2%;
}
.basket_button {
    position: absolute;
    left: 96.87%;
}