@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

.heading_text {
    position: absolute;

    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: left;
}


@media screen and (max-width: 550px) {
    .heading_text {
        left: 7%;
        top: 272px;

        width: 303px;
        height: 100px;

        font-size: 40px;
        line-height: 45px;
    }
}
@media screen and (min-width: 550px) and (max-width: 768px) {
    .heading_text {
        left: 2.6%;
        top: 1216px;

        width: 643px;
        height: 194px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .heading_text {
        left: 18.4%;
        top: 1226px;

        width: 545.59px;
        height: 194px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .heading_text {
        left: 27.69%;
        top: 1186px;

        width: 643px;
        height: 194px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1600px) {
    .heading_text {
        left: 30.69%;
        top: 1186px;

        width: 643px;
        height: 194px;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
    .heading_text {
        left: 34.69%;
        top: 1186px;

        width: 643px;
        height: 194px;
    }
}
@media screen and (min-width: 1920px) {
    .heading_text {
        left: 34.69%;
        top: 1186px;

        width: 643px;
        height: 194px;
    }
}
