.rectangle_left {
    position: absolute;

    width: 157px;
    height: 184px;
}

.rectangle_right {
    position: absolute;

    z-index: 10;

    width: 273px;
    height: 364px;
}




@media screen and (max-width: 550px) {
    .rectangle_left {
        display: none;
    }
    .rectangle_right {
        display: none;
    }
}
@media screen and (min-width: 550px) and (max-width: 767px) {
    .rectangle_left {
        width: 184px;
        height: 184px;

        left: -56px;
        top: 284px;
    }
    .rectangle_right {
        width: 364px;
        height: 364px;

        right: -170px;
        top: 766px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .rectangle_left {
        width: 184px;
        height: 184px;

        left: -56px;
        top: 302px;
    }
    .rectangle_right {
        width: 364px;
        height: 364px;

        right: -242px;
        top: 686px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1299px) {
    .rectangle_left {
        left: -10px;
        top: 302px;
    }
    .rectangle_right {
        right: -10px;
        top: 686px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1599px) {
    .rectangle_left {
        left: -5px;
        top: 302px;
    }
    .rectangle_right {
        right: -5px;
        top: 686px;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
    .rectangle_left {
        left: 0px;
        top: 302px;
    }
    .rectangle_right {
        right: 0px;
        top: 686px;
    }
}
@media screen and (min-width: 1920px) {
    .rectangle_left {
        left: 0px;
        top: 302px;
    }
    .rectangle_right {
        right: 0px;
        top: 686px;
    }
}